@model ChatApp.EF.DanhMuc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<section class="content container-fluid">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Bạn có thực sự muốn xóa</h3>
        </div>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.TenDanhMuc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TenDanhMuc)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Xoá" class="btn btn-default" /> |
                    @Html.ActionLink("Danh sách", "Index")
                </div>
            }
        </div>
    </div>
</section>