@model ChatApp.EF.ThongTinNhom

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<section class="content container-fluid">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Sửa thông tin nhóm</h3>
        </div>

        @using (Html.BeginForm())
        {
            @

            <div class="form-horizontal">
                <h4>Thoon</h4>
                <hr />
                @
                @

                <div class="form-group">
                    @
                    <div class="col-md-10">
                        @
                        @
                    </div>
                </div>

                <div class="form-group">
                    @
                    <div class="col-md-10">
                        @
                        @
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div class="box-footer">
            @Html.ActionLink("Danh sách", "Index")
        </div>
    </div>
</section>
